html { 
  -webkit-font-smoothing: antialiased; 
}

body {
  overflow-x: hidden;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}





.space-box {
  padding-top: 100px;
  padding-bottom: 50px;
}

#main-button {
  padding: 15px 30px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: black;
  background: white;
}

.main-image {
  background-attachment: scroll;
  background-image: url("../images/main.png");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-top: 1px solid black;
  border-left: 1px solid black;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

.space-box-two {
  padding: 400px;
}

.space-box-three {
  padding: 30px;
}

.space-box-four {
  padding: 50px;
}

.question {
  font-weight: light;
  margin-top: 50px;
  font-size: 55px;
  color: black;
}

.text-muted {
  font-size: 25px;
  color: #7F7F7F;
}

.daytime-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.evening-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.mixup-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#looks-button {
  margin-top: 180px;
  margin-left: 120px;
  padding: 25px 30px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  background: transparent;
  color: black;
}





.evening-text {
  font-weight: light;
  margin-top: 100px;
  font-size: 55px;
  color: black;
}

.mix-text {
  font-weight: light;
  margin-top: 30px;
  font-size: 55px;
  color: black;
}

.guru-text {
  font-weight: light;
  margin-top: 70px;
  font-size: 55px;
  color: black;
}

.guru-two-text {
  font-weight: light;
  font-size: 60px;
  color: black;
  letter-spacing: 1px;
}

#website-button {
  padding: 15px 85px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: white;
  background: black;
}

.bg-black {
  background-color: black;
}

.search-text {
  font-weight: light;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 48px;
  color: white;
}

#search-box-colors {
  color: black;
  font-size: 18px;
  border: 1px solid black; 
}

.form-control::-webkit-input-placeholder { 
  color: black;
  font-size: 18px; 
}
.form-control:-moz-placeholder { 
  color: black;
  font-size: 18px;  
}
.form-control::-moz-placeholder { 
  color: black;
  font-size: 18px;  
}
.form-control:-ms-input-placeholder { 
  color: black;
  font-size: 18px;  
}

#search-button-colors {
  background: white;
  border: 1px solid black;
}

.title-font {
  color: white;
  font-size: 35px;
}

#no-link a {
  text-decoration: none;
}

#shuffle-button {
  padding: 15px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: black;
}



.main-title {
  font-weight: light;
  font-size: 60px;
  color: black;
  margin-top: 200px;
}

#main-border {
  border-top: 1px solid black;
}

.question-mark {
  font-size: 125px;
  color: white;
}












/* start main view */



.main-models {
  background-image: url('../images/ronny1.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  color: white;

}

.intro-text {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  padding-top: 370px;
  padding-bottom: 350px;
}
.intro-text .intro-lead-in {
  font-size: 40px;
  -moz-animation: fadeIn 9s;
  -ms-animation: fadeIn 9s;
  -o-animation: fadeIn 9s;
  -webkit-animation: fadeIn 9s;
  animation: fadeIn 9s;
}
.bottom-main-title {
  font-size: 17px;
}

hr .title {
  border-color: #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  -moz-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
  -o-animation: fadeIn 12s;
  -webkit-animation: fadeIn 12s;
  animation: fadeIn 12s;
}

@media (min-width: 768px) {
  .main-models .intro-text {
    padding-top: 270px;
    padding-bottom: 100px;
  }
  .main-models .intro-text .intro-lead-in {
    font-size: 80px;
    -moz-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    animation: fadeIn 9s;
  }
  .main-models .bottom-main-title {
    font-size: 25px;
  }

  hr .title {
  border-color: #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  -moz-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
  -o-animation: fadeIn 12s;
  -webkit-animation: fadeIn 12s;
  animation: fadeIn 12s;
  }
  
}

.start-button {
  padding: 15px 50px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 20px;
  background: rgba(255,255,255,0.8);
  color: black;
  -moz-animation: fadeIn 25s;
  -ms-animation: fadeIn 25s;
  -o-animation: fadeIn 25s;
  -webkit-animation: fadeIn 25s;
  animation: fadeIn 25s;
}

.start-button:hover {
  color: white;
  background: rgba(0,0,0,0.4);
  border-color: transparent;
}

/* start navigation */

#main-nav {
  border-radius: 0;
  border: 0;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  -moz-animation: fadeIn 13s;
  -ms-animation: fadeIn 13s;
  -o-animation: fadeIn 13s;
  -webkit-animation: fadeIn 13s;
  animation: fadeIn 13s;
}

#main-nav a {
  color: white;
  font-size: 19px;
}

#main-nav a:hover {
  background: rgba(255,255,255,0.4);
  color: black;
}

#link-button {
  border-radius: 0;
  border: 1px solid transparent;
  background: transparent;
}

.navbar-nav.nav-justified > li{
  float:none;
  padding-left: 23px;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-radius: 0;
}

/* start looks section */



.daytime-looks {
  background-image: url('../images/daytime.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  color: white;
  border-bottom: 15px solid white;
}

.evening-looks {
  background-image: url('../images/evening.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  color: white;
  border-bottom: 15px solid white;
  border-left: 15px solid white;
}

.mix-looks {
  background-image: url('../images/mix.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  color: white;
  border-bottom: 15px solid white;
  border-left: 15px solid white;
}


.space-looks {
  padding-top: 200px;
  padding-bottom: 200px;
}

.lookbook-title {
  font-size: 40px;
  color: black;
}

.lookbook-buttons {
  padding: 5px 20px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 15px;
  background: rgba(255,255,255,0.8);
  color: black;
  margin-left: 115px;
}

.mix-lookbook-button {
  padding: 5px 20px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 15px;
  background: rgba(255,255,255,0.8);
  color: black;
  margin-left: 120px;
}

.lookbook-buttons:hover {
  color: white;
  background: rgba(0,0,0,0.4);
  border-color: transparent;
}

.mix-lookbook-button:hover {
  color: white;
  background: rgba(0,0,0,0.4);
  border-color: transparent;
}

.question-title {
  font-size: 45px;
  color: black;
  padding-top: 5px;
  padding-bottom: 50px;
}

.daytime-logo {
  margin-left: 120px;
  font-size: 35px;
  padding-bottom: 5px;
}

.evening-logo {
  margin-left: 120px;
  font-size: 35px;
  padding-bottom: 5px;
}

.mix-logo {
  margin-left: 120px;
  font-size: 35px;
  padding-bottom: 5px;
}

.daytime-looks:hover .view-looks-button {
  visibility: visible;
  opacity: 1;
}

.evening-looks:hover .view-looks-button {
  visibility: visible;
  opacity: 1;
}

.mix-looks:hover .view-looks-button {
  visibility: visible;
  opacity: 1;
}
.view-looks-button {
  visibility: hidden;
  opacity: 0;
}



/* start looks navigation */

#looks-nav {
  border-radius: 0;
  border: 0;
  background: transparent;
  padding: 20px;
  -moz-animation: fadeIn 13s;
  -ms-animation: fadeIn 13s;
  -o-animation: fadeIn 13s;
  -webkit-animation: fadeIn 13s;
  animation: fadeIn 13s;
}

#looks-nav a {
  color: black;
  font-size: 19px;
}

#looks-nav a:hover {
  background: rgba(0,0,0,0.6);
  color: white;
}

#link-button {
  border-radius: 0;
  border: 1px solid transparent;
  background: transparent;
}

.navbar-nav.nav-justified > li{
  float:none;
  padding-left: 23px;
}

#looks-nav .navbar-collapse {
  border-color: black;
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
}

#looks-icon .icon-bar {
  background-color: black;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-radius: 0;
}




/* start daytime view */

.daytime-text {
  margin-top: 50px;
  font-size: 35px;
  color: black;
}

.view-button {
  visibility: hidden;
  opacity: 0;
}

.work-image {
  background-image: url('../images/tony.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.work-image:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.cafe-image {
  background-image: url('../images/cafe.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.cafe-image:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.lunch-image {
  background-image: url('../images/lunch.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.lunch-image:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.date-image {
  background-image: url('../images/date.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.date-image:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.errands-image {
  background-image: url('../images/errands.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.errands-image:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.work-look-title {
  color: white;
  font-size: 30px;
}

.cafe-look-title {
  color: white;
  font-size: 30px;
}

.lunch-look-title {
  color: white;
  font-size: 30px;
}

.date-look-title {
  color: white;
  font-size: 30px;
}

.errands-look-title {
  color: white;
  font-size: 30px;
}

@media (min-width: 768px) {
  .daytime-text {
    margin-top: 50px;
    font-size: 50px;
    color: black;
  }
  .work-look-title {
    color: white;
    font-size: 45px;
  }
  .cafe-look-title {
    color: white;
    font-size: 45px;
  }
  .lunch-look-title {
    color: white;
    font-size: 45px;
  }
  .date-look-title {
    color: white;
    font-size: 45px;
  }

  .errands-look-title {
    color: white;
    font-size: 45px;
  }
}

.space-work {
  padding-top: 50px;
  padding-bottom: 30px;
}

.space-cafe {
  padding-top: 50px;
  padding-bottom: 30px;
}

.space-lunch {
  padding-top: 50px;
  padding-bottom: 30px;
}

.space-date {
  padding-top: 50px;
  padding-bottom: 30px;
}

.space-errands {
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .space-work {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .space-cafe {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .space-lunch {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .space-date {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .space-errands {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .work-image {
    background-image: url('../images/tony.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .work-image:hover .view-button {
    visibility: visible;
    opacity: 1;
  }

  .cafe-image {
    background-image: url('../images/cafe.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .cafe-image:hover .view-button {
    visibility: visible;
    opacity: 1;
  }

  .lunch-image {
    background-image: url('../images/lunch.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .lunch-image:hover .view-button {
    visibility: visible;
    opacity: 1;
  }

  .date-image {
    background-image: url('../images/date.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .date-image:hover .view-button {
    visibility: visible;
    opacity: 1;
  }

  .errands-image {
    background-image: url('../images/errands.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.errands-image:hover .view-button {
    visibility: visible;
    opacity: 1;
  }

  .view-button {
    visibility: hidden;
    opacity: 0;
  }
}





.video-labels {
  font-size: 17px;
  margin: 15px;
  padding: 10px;
  color: white;
  background: black;
}

#video-label-daytime {
  padding: 5px 20px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 20px;
  background: rgba(0,0,0,0.1);
  color: white;
}

@media (min-width: 768px) {
  #video-label-daytime {
    padding: 5px 20px;
    border-radius: 0;
    border-color: transparent;
    display: inline-block;
    font-size: 25px;
    background: rgba(0,0,0,0.1);
    color: white;
  }
}


#video-border {
  padding: 1em;
  margin: 1em;
  height: 267px;
  background: black;
}

@media (min-width: 768px) {
  #video-border {
    padding: 1em;
    margin: 1em;
    height: 320px;
    background: black;
  }
}

#theme-button {
  padding: 5px 15px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 12px;
  background: rgba(255,255,255,0.8);
  color: black;
}

#hide-button {
  padding: 5px 15px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 12px;
  background: rgba(255,255,255,0.8);
  color: black;
}

@media (min-width: 768px) {
  #theme-button {
    padding: 5px 30px;
    border-radius: 0;
    border-color: transparent;
    display: inline-block;
    font-size: 13px;
    background: rgba(255,255,255,0.8);
    color: black;
  }
  #hide-button {
    padding: 5px 30px;
    border-radius: 0;
    border-color: transparent;
    display: inline-block;
    font-size: 13px;
    background: rgba(255,255,255,0.8);
    color: black;
  }
}



#theme-button:hover {
  color: white;
  background: rgba(0,0,0,0.4);
  border-color: transparent;
}

#hide-button:hover {
  color: white;
  background: rgba(0,0,0,0.4);
  border-color: transparent;
}





