html { 
  -webkit-font-smoothing: antialiased; 
}

body {
  overflow-x: hidden;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#my-nav {
  margin-top: 50px;
  border-radius: 0;
  border: 0;
  background: black;
}

#my-nav a {
  color: white;
  font-size: 37px;
}

#my-nav a:hover {
  background: white;
  color: black;
}

.navbar-nav.nav-justified > li{
  float:none;
  padding-left: 23px;
}

.navbar-default .navbar-collapse {
  border-color: rgba(127,127,127,.02);
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: white;
  background-color: white;
  border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7F7F7F;
  border-radius: 0;
}

#link-button {
  padding: 50px;
  border-radius: 0;
  border: 1px solid transparent;
  display: block;
  background: black;
}

.space-box {
  padding-top: 100px;
  padding-bottom: 50px;
}

#main-button {
  padding: 25px 30px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: black;
  background: white;
}

.main-image {
  background-attachment: scroll;
  background-image: url("../images/placeholder.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.space-box-two {
  padding: 400px;
}

.space-box-three {
  padding: 30px;
}

.space-box-four {
  padding: 50px;
}

.question {
  font-weight: light;
  margin-top: 50px;
  font-size: 55px;
  color: black;
}

.text-muted {
  font-size: 28px;
  color: #7F7F7F;
}

.daytime-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.evening-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.mixup-image {
  background-attachment: scroll;
  background-image: url("../images/placeholderimage.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#looks-button {
  margin-top: 180px;
  margin-left: 120px;
  padding: 25px 30px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  background: transparent;
  color: black;
}

.daytime-text {
  font-weight: light;
  margin-top: 100px;
  font-size: 55px;
  color: black;
}

.video-labels {
  font-weight: light;
  margin-top: 100px;
  font-size: 35px;
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
  color: black;
  background: white;
}

#video-border {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  height: 315px;
}

#theme-button {
  padding: 35px 85px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: white;
  background: black;
}

.evening-text {
  font-weight: light;
  margin-top: 100px;
  font-size: 55px;
  color: black;
}

.mix-text {
  font-weight: light;
  margin-top: 100px;
  font-size: 55px;
  color: black;
}

.guru-text {
  font-weight: light;
  margin-top: 70px;
  font-size: 55px;
  color: black;
}

.guru-two-text {
  font-weight: light;
  font-size: 60px;
  color: black;
  letter-spacing: 1px;
}

#website-button {
  padding: 15px 85px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: white;
  background: black;
}

.bg-black {
  background-color: black;
}

.search-text {
  font-weight: light;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 48px;
  color: white;
}

#search-box-colors {
  color: black;
  font-size: 18px;
  border: 1px solid black; 
}

.form-control::-webkit-input-placeholder { 
  color: black;
  font-size: 18px; 
}
.form-control:-moz-placeholder { 
  color: black;
  font-size: 18px;  
}
.form-control::-moz-placeholder { 
  color: black;
  font-size: 18px;  
}
.form-control:-ms-input-placeholder { 
  color: black;
  font-size: 18px;  
}

#search-button-colors {
  background: white;
  border: 1px solid black;
}

.title-font {
  color: white;
  font-size: 35px;
}

#no-link a {
  text-decoration: none;
}

#shuffle-button {
  padding: 35px 85px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: black;
}

#hide-button {
  padding: 35px 85px;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-size: 35px;
  color: black;
  background: white;
}

.main-title {
  font-weight: light;
  font-size: 60px;
  color: black;
  margin-top: 150px;
}

#main-border {
  border-top: 1px solid black;
}
