<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<p class="clubbing-look-main-title">
			Clubbing<i>Look</i>
		</p>
	</div>
</div>

<div class="row clubbing-main-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-main-clubbing">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/lVXm15EWRxc" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="secondMakeupVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/T_SZ0fKY4zc" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="secondHairVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/NMN41N2qcPA" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="secondOutfitVideo"></div> -->
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<a href="/treat-yourself/#/evening" class="btn btn-default hvr-fade" id="back-button"> BACK</a>
	</div>
</div>
<br>	
		