
<!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" id="looks-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" id="looks-icon" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav nav-justified">
              <li><a href="/treat-yourself/#/" class="btn btn-default btn-lg hvr-fade" id="link-button">home</a></li>
              <li><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg hvr-fade" id="link-button">lookbooks</a></li>
              <li><a ng-href="/treat-yourself/#/guru" class="btn btn-default btn-lg hvr-fade" id="link-button">beauty guru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="daytime-text">
				DAYTIME
			</p>
		</div>
	</div>
</div>

<div class="row work-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-work">
			<!--<div ng-show="themeOne" class="fadein fadeout">
				<div class="row">
			
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/9OFpfTd0EIs" frameborder="0" allowfullscreen></iframe> 
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" frameborder="0" allowfullscreen></iframe> 
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/ZZyGDiUnta4" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href ng-click="themeOne = !themeOne" class="btn btn-default hvr-fade" id="hide-button">HIDE</a>
					</div>
				</div>
			</div> -->
				
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<p class="work-look-title">
							
						</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<p class="work-look-title">
							Work<i>Look</i>
						</p>
					</div>
				</div>
				<div class="row view-button">
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						<a href="/treat-yourself/#/work" class="btn btn-default hvr-fade" id="theme-button"> VIEW</a>
					</div>
				</div>
				
		</div>
	</div>
</div>


<div class="row cafe-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-cafe">
			<!--<div ng-show="themeTwo" class="fadein fadeout">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/p3j2NYZ8FKs" frameborder="0" allowfullscreen></iframe> 
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allowfullscreen></iframe> 
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/J9gKyRmic20" frameborder="0" allowfullscreen></iframe> 
							
						</div>
					</div>
				</div>
					<br>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href ng-click="themeTwo = !themeTwo" class="btn btn-default hvr-fade" id="hide-button">HIDE</a>
						</div>
					</div>
			</div> -->

				
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<p class="cafe-look-title">
								Cafe<i>Look</i>
							</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<p class="cafe-look-title">
								
							</p>
						</div>
					</div>
					<div class="row view-button">
						<div class="col-xs-6 col-sm-6 col-md-6 text-center">
							<a href="/treat-yourself/#/cafe" class="btn btn-default hvr-fade" id="theme-button">VIEW</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 text-center">
							
						</div>
					</div>
		</div>
	</div>
</div>

<div class="row lunch-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-lunch">
			<!--<div ng-show="themeThree" class="fadein fadeout">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/ST86JM1RPl0" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/ccenFp_3kq8" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/cX-8MHKuQ5I" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
				</div>
			
			<br>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href ng-click="themeThree = !themeThree" class="btn btn-default hvr-fade" id="hide-button">HIDE</a>
				</div>
			</div>
			
			
			</div> -->

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
							<p class="cafe-look-title">
								
							</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
							<p class="cafe-look-title">
								Lunch<i>Look</i>
							</p>
				</div>
			</div>
			<div class="row view-button">
				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					<a href="/treat-yourself/#/lunch" class="btn btn-default hvr-fade" id="theme-button">VIEW</a>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row date-image wow fadeIn" data-wow-duration="10s" data-wow-delay="0.3s">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-date">
			<!--<div ng-show="themeFour" class="fadein fadeout">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/FTQbiNvZqaY" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/yyZU4iNRdsM" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/E8gmARGvPlI" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href ng-click="themeFour = !themeFour" class="btn btn-default hvr-fade" id="hide-button">HIDE</a>
					</div>
				</div>
				
			</div> -->
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="date-look-title">
									Date<i>Look</i>
								</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="date-look-title">
									
								</p>
					</div>
				</div>

			
				<div class="row view-button">
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						<a href="/treat-yourself/#/date" class="btn btn-default hvr-fade" id="theme-button">VIEW</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						
					</div>
				</div>
		</div>
	</div>
</div>


<div class="row errands-image wow fadeIn" data-wow-duration="11s" data-wow-delay="0.8s">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-errands">
			<!--<div ng-show="themeFive" class="fadein fadeout">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/rrJky8YuTr4" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/MQSkIFhuli0" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" frameborder="0" allowfullscreen></iframe>
							
						</div>
					</div>
				</div>
					<br>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href ng-click="themeFive = !themeFive" class="btn btn-default hvr-fade" id="hide-button">HIDE</a>
						</div>
					</div>
					
			</div> -->

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
									<p class="errands-look-title">
										
									</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
									<p class="errands-look-title">
										Errands<i>Look</i>
									</p>
						</div>
					</div>

					
					<div class="row view-button">
						<div class="col-xs-6 col-sm-6 col-md-6 text-center">
							
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 text-center">
							<a href="/treat-yourself/#/errands" class="btn btn-default hvr-fade" id="theme-button">VIEW</a>
						</div>
					</div>
		</div>
	</div>
</div>





