<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<p class="dinner-look-main-title">
			Dinner<i>Look</i>
		</p>
	</div>
</div>

<div class="row dinner-main-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-main-dinner">
				<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/u1AuycEikNY" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="firstMakeupVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/tUZq2Kj2gLE" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="firstHairVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-evening">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/mQTkL8EJ6Cs" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="firstOutfitVideo"></div> -->
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<a href="/treat-yourself/#/evening" class="btn btn-default hvr-fade" id="back-button">back</a>
	</div>
</div>
<br>	
		