<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<p class="errands-look-main-title">
			Errands<i>Look</i>
		</p>
	</div>
</div>

<div class="row errands-main-image">
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
		<div class="space-main-errands">
			<div class="row">
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Makeup
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/uavunfbTiFQ" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="fifthMakeupVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Hair
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/X8zVi4NF7Uo" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="fifthHairVideo"></div> -->
						</div>
					</div>
					<div class="col-md-4 text-center">
						<p class="btn btn-default" id="video-label-daytime">
							Outfit
						</p>
						<div class="embed-responsive embed-responsive-4by3" id="video-border-day-evening">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/n-lgEZ5KX_s" frameborder="0" allowfullscreen></iframe>
							<!--<div ng-bind-html="fifthOutfitVideo"></div> -->
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<a href="/treat-yourself/#/daytime" class="btn btn-default hvr-fade" id="back-button">back</a>
	</div>
</div>
<br>	
		