<!-- Add your site or application content here -->
	<div class="header">
      <div class="navbar navbar-default" id="my-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav nav-justified">
              <li><a href="/treat-yourself/#/" class="btn btn-default btn-lg" id="link-button">home</a></li>
              <li><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg" id="link-button">looks</a></li>
              <li><a ng-href="/treat-yourself/#/guru" class="btn btn-default btn-lg" id="link-button">beauty guru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<p class="evening-text">
				evening looks
			</p>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<div ng-show="themeOne">
	<div class="row">
	<div class="col-md-4 text-center">
		<p class="video-labels">
			makeup
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/9OFpfTd0EIs" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="firstMakeupVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			hair
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="firstHairVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			outfit
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ZZyGDiUnta4" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="firstOutfitVideo"></div> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeOne = !themeOne" class="btn btn-default" id="hide-button">hide look</a>
	</div>
</div>
<br>
<br>
</div>

<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeOne = !themeOne" class="btn btn-default" id="theme-button">dinner</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<div ng-show="themeTwo">
	<div class="row">
	<div class="col-md-4 text-center">
		<p class="video-labels">
			makeup
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/p3j2NYZ8FKs" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="secondMakeupVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			hair
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="secondHairVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			outfit
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/J9gKyRmic20" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="secondOutfitVideo"></div> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeTwo = !themeTwo" class="btn btn-default" id="hide-button">hide look</a>
	</div>
</div>
<br>
<br>

</div>

<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeTwo = !themeTwo" class="btn btn-default" id="theme-button">theater</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<div ng-show="themeThree">
	<div class="row">
	<div class="col-md-4 text-center">
		<p class="video-labels">
			makeup
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/ST86JM1RPl0" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="thirdMakeupVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			hair
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/ccenFp_3kq8" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="thirdHairVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			outfit
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/cX-8MHKuQ5I" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="thirdOutfitVideo"></div> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeThree = !themeThree" class="btn btn-default" id="hide-button">hide look</a>
	</div>
</div>
<br>
<br>
</div>

<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeThree = !themeThree" class="btn btn-default" id="theme-button">date</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<div ng-show="themeFour">
	<div class="row">
	<div class="col-md-4 text-center">
		<p class="video-labels">
			makeup
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/FTQbiNvZqaY" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fourthMakeupVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			hair
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/yyZU4iNRdsM" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fourthHairVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			outfit
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/E8gmARGvPlI" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fourthOutfitVideo"></div> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeFour = !themeFour" class="btn btn-default" id="hide-button">hide look</a>
	</div>
</div>
<br>
<br>
</div>

<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeFour = !themeFour" class="btn btn-default" id="theme-button">ladies night</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<div ng-show="themeFive">
	<div class="row">
	<div class="col-md-4 text-center">
		<p class="video-labels">
			makeup
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/rrJky8YuTr4" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fifthMakeupVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			hair
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/MQSkIFhuli0" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fifthHairVideo"></div> -->
		</div>
	</div>
	<div class="col-md-4 text-center">
		<p class="video-labels">
			outfit
		</p>
		<div class="embed-responsive embed-responsive-4by3" id="video-border">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" frameborder="0" allowfullscreen></iframe>
			<!--<div ng-bind-html="fifthOutfitVideo"></div> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeFive = !themeFive" class="btn btn-default" id="hide-button">hide look</a>
	</div>
</div>
<br>
<br>
</div>

<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<a href ng-click="themeFive = !themeFive" class="btn btn-default" id="theme-button">parties</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

