
<!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" id="looks-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" id="looks-icon" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav nav-justified">
              <li><a href="/treat-yourself/#/" class="btn btn-default btn-lg hvr-fade" id="link-button">home</a></li>
              <li><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg hvr-fade" id="link-button">lookbooks</a></li>
              <li><a ng-href="/treat-yourself/#/guru" class="btn btn-default btn-lg hvr-fade active" id="link-button">beauty guru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="row">
<a href="https://www.youtube.com/watch?v=Sr0wZi5b2Zs" target="_blank">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center michelle-image-one hvr-fade">
    <div class="space-michelle-image-one"></div>
  </div>
</a>
  <div class="col-xs-6 col-md-6 col-lg-6 text-center">
    <div class="space-michelle-name">
      <p class="guru-name">
        <a href="http://michellephan.com/" class="michelle-website-name-one hvr-fade" target="_blank">MICHELLE PHAN</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
    <div class="space-michelle-guru">
      <p class="guru-text">
         <a href="http://michellephan.com/" class="michelle-website-name wow slideInLeft hvr-fade" target="_blank">My Favorite Beauty<i>GURU</i></a>
      </p>
      
    </div>
  </div>
<a href="https://www.youtube.com/watch?v=5inY_TBBYoA" target="_blank">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center michelle-image-two wow slideInRight hvr-fade">
    <div class="space-michelle-image-two">
      
    </div>
  </div>
</a>
</div>

<div class="row">
<a href="https://www.youtube.com/watch?v=DBTd9qv_sJI" target="_blank">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6text-center michelle-image-three wow slideInLeft hvr-fade">
    <div class="space-michelle-image-three"></div>
  </div>
</a>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
    <div class="space-michelle-name">
      <p class="guru-name">
        <a href="http://michellephan.com/" class="btn btn-default btn-lg wow slideInRight hvr-fade" id="website-button" target="_blank">michellephan.com</a>
      </p>
    </div>
  </div>
</div>


<section class="bg-black">
  <form ng-submit="refreshButton()" ng-controller="GuruCtrl">
    
      <div class="row">
        <div class="col-lg-12">
          <p class="search-text text-center">
          Michelle's YouTube Videos
        </p>
        </div>
        <div class="container">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="search for keywords" id="search-box-colors" name="keywords" ng-model="keywords" >
              <span class="input-group-btn">
                  <button type="submit" id="submit" class="btn btn-default search-button-colors hvr-fade"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>

                
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
    <br>
    <br>

    <div class="results" ng-show="video.items.length > 0">
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[0].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[0].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[0].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[1].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[1].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[1].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[2].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[2].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[2].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[3].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[3].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[3].snippet.title}}</p></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[4].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[4].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[4].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[5].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[5].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[5].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[6].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[6].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[6].snippet.title}}</p></a>
        </div>
        <div class="col-md-6 col-lg-3 text-center" id="no-link">
            <a ng-href="https://www.youtube.com/embed/{{video.items[7].id.videoId}}" target="_blank">
            <img ng-src="{{video.items[7].snippet.thumbnails.high.url}}" /><br>
            <p class="title-font">{{video.items[7].snippet.title}}</p></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="no-results" ng-hide="video.items.length > 0">
        <div class="col-lg-12 text-center">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>
         No Results Found
        </div>
      </div>
    </div>
    
</div>

</form>
  
<br>
<br>
</section>





