<div class="row">
<a href="https://www.youtube.com/watch?v=Sr0wZi5b2Zs" target="_blank">
  <div class="col-sm-6 col-md-6 col-lg-6text-center michelle-image-one">
    <div class="space-michelle-image-one"></div>
  </div>
</a>
  <div class="col-sm-6 col-md-6 col-lg-6 text-center">
    <div class="space-michelle-name">
      <p class="guru-name">
        <a href="http://michellephan.com/" class="michelle-website-name">MICHELLE PHAN</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 text-center">
    <div class="space-michelle-guru">
      <p class="guru-text">
        My Favorite Beauty<i>GURU</i>
      </p>
      <br>
      <a href="http://michellephan.com/" class="btn btn-default btn-lg" id="website-button" target="_blank">michellephan.com</a>
    </div>
  </div>
<a href="https://www.youtube.com/watch?v=5inY_TBBYoA" target="_blank">
  <div class="col-sm-6 col-md-6 col-lg-6 text-center michelle-image-two">
    <div class="space-michelle-image-two">
      
    </div>
  </div>
</a>
</div>
<section class="bg-black">
  <div ng-controller="GuruCtrl">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="search-text">
          discover more of her videos
        </p>
        </div>
        <div class="col-lg-12 text-center">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search for keywords" id="search-box-colors" name="keywords" ng-model="keywords" >
              <span class="input-group-btn">
                <button class="btn btn-default" id="search-button-colors" type="button" ng-click="refreshButton()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[0].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[0].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[0].snippet.title}}</p></a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[1].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[1].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[1].snippet.title}}</p></a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[2].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[2].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[2].snippet.title}}</p></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[3].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[3].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[3].snippet.title}}</p></a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[4].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[4].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[4].snippet.title}}</p></a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center" id="no-link">
          <a ng-href="https://www.youtube.com/embed/{{video.items[5].id.videoId}}" target="_blank">
          <img width="300" height="220" ng-src="{{video.items[5].snippet.thumbnails.high.url}}" /><br>
          <p class="title-font">{{video.items[5].snippet.title}}</p></a>
      </div>
    </div>
</div>
  
<br>
<br>

</section>




