

<!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" id="looks-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" id="looks-icon" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav nav-justified">
              <li><a href="/treat-yourself/#/" class="btn btn-default btn-lg hvr-fade" id="link-button">home</a></li>
              <li><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg hvr-fade" id="link-button">lookbooks</a></li>
              <li><a ng-href="/treat-yourself/#/guru" class="btn btn-default btn-lg hvr-fade" id="link-button">beauty guru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="col-lg-12 text-center lookbook-title">
    BeautyLOOKBOOKS
  </div>
</div>
<br>




<div class="row">
  <div class="col-md-4 daytime-looks">
    <div class="space-looks">
      <div class="daytime-logo">DAYTIME</div>
      <br>
        <div class="view-looks-button">
          <a ng-href="/treat-yourself/#/daytime" class="btn btn-default btn-lg lookbook-buttons hvr-fade">VIEW</a>
        </div>
    </div>
  </div>

  <div class="col-md-4 evening-looks">
    <div class="space-looks">
      <div class="evening-logo">EVENING</div>
      <br>
        <div class="view-looks-button">
          <a ng-href="/treat-yourself/#/evening" class="btn btn-default btn-lg lookbook-buttons hvr-fade">VIEW</a>
        </div>
    </div>
    </div>

  <div class="col-md-4 mix-looks">
    <div class="space-looks">
      <div class="mix-logo">MIX IT</div>
      <br>
        <div class="view-looks-button">
          <a ng-href="/treat-yourself/#/mix" class="btn btn-default btn-lg mix-lookbook-button hvr-fade">VIEW</a>
        </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12 text-center question-title">
    What <i>LOOK</i> are You Looking for?
  </div>
</div>












