<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="main-sentence">
      The Place to Discover New Beautiful Looks for You
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 beauty-bg">
    <div class="main-title-one text-center">
      <i>Beauty</i>
      <center><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg start-button main-continue-button hvr-fade">continue</a></center>
    </div>
  </div>
  <a ng-href="/treat-yourself/#/looks">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main-image">
    <div class="main-space-image-one"></div>
  </div>
  </a>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 beauty-bg">
    <div class="main-title-two text-center">
      LookBook
      <center><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg start-button main-continue-button hvr-fade">continue</a></center>
    </div>
  </div>
</div>
<div class="row wow fadeIn">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="main-border-divider">
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main-image-two wow fadeIn">
    <div class="main-space-image-two"></div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 beauty-bg wow fadeIn">
    <div class="main-title-three text-center">
      Explore
      <center><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg start-button main-continue-button hvr-fade">continue</a></center>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main-image-three wow fadeIn">
    <div class="main-space-image-two"></div>
  </div>
</div>
<div class="row wow fadeIn">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="main-border-divider">
      
    </div>
  </div>
</div>
  




