
<!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" id="looks-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" id="looks-icon" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav nav-justified">
              <li><a href="/treat-yourself/#/" class="btn btn-default btn-lg hvr-fade" id="link-button">home</a></li>
              <li><a ng-href="/treat-yourself/#/looks" class="btn btn-default btn-lg hvr-fade" id="link-button">lookbooks</a></li>
              <li><a ng-href="/treat-yourself/#/guru" class="btn btn-default btn-lg hvr-fade" id="link-button">beauty guru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="mix-text">
        Mix
      </p>
    </div>
  </div>
</div>

<div class="row makeup-image">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="space-makeup-image">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 space-makeup-text">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomMakeupVideo()">
          Makeup
          </p>
          <br>
          <br>
          <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomMakeupVideo()">shuffle</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="embed-responsive embed-responsive-4by3" id="video-border-mix"> 
          <center>
            <br>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="makeupVideoEmbed"></div> 
        </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row hair-image">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="space-hair-image">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 space-hair-text">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomHairVideo()">
          Hair
          </p>
          <br>
          <br>
          <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomHairVideo()">shuffle</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="embed-responsive embed-responsive-4by3" id="video-border-mix"> 
          <center>
            <br>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="hairVideoEmbed"></div> 
        </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row outfit-image">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="space-outfit-image">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 space-outfit-text">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomOutfitVideo()">
          Outfit
          </p>
          <br>
          <br>
          <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomOutfitVideo()">shuffle</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="embed-responsive embed-responsive-4by3" id="video-border-mix"> 
          <center>
            <br>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="outfitVideoEmbed"></div> 
        </div>
        </div>
        
      </div>
    </div>
  </div>
</div>








