<div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="mix-text">
        MIX IT UP
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 makeup-image text-center">
    <div class="space-makeup">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomMakeupVideo()">
          Makeup
          </p>
         <br>
         <br>
        <div class="embed-responsive embed-responsive-4by3" id="video-border-mix"> 
          <center>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="makeupVideoEmbed"></div> 
        </div>
        <br>
        
        <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomMakeupVideo()">SHUFFLE</a>
        
        
    </div>
  </div>
  <div class="col-md-4 hair-image text-center">
    <div class="space-hair">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomHairVideo()">
          Hair
        </p>
        <br>
        <br>
        <div class="embed-responsive embed-responsive-4by3" id="video-border-mix">
          <center>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="hairVideoEmbed"></div> 
        </div>
        <br>
        
        <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomHairVideo()">SHUFFLE</a>
        
        
    </div>
    
  </div>
  <div class="col-md-4 outfit-image text-center">
    <div class="space-outfit">
          <p class="btn btn-default" id="video-label-mix" ng-click="randomOutfitVideo()">
          Outfit
          </p>
          <br>
          <br>
        <div class="embed-responsive embed-responsive-4by3" id="video-border-mix">
          <center>
            <br>
            <p class="question-mark">
              ?
            </p>
          </center>
          <div ng-bind-html="outfitVideoEmbed"></div> 
        </div>
        <br>
        
        <a class="btn btn-default hvr-fade" id="shuffle-button" ng-click="randomOutfitVideo()">SHUFFLE</a>
        
        
    </div>
    
  </div>
</div>



